:root {
  --color-light-200: #fcfcfc;
  --color-light-200-rgb: 252, 252, 252;
  --color-light-300: #f5f5f5;
  --color-light-300-rgb: 245, 245, 245;
  --color-light-400: #efefef;
  --color-light-400-rgb: 239, 239, 239;
  --color-dark-200: #adadb0;
  --color-dark-200-rgb: 173, 173, 176;
  --color-dark-300: #919191;
  --color-dark-300-rgb: 145, 145, 145;
  --color-dark-400: #636363;
  --color-dark-400-rgb: 99, 99, 99;
  --color-dark-700: #1f1f1f;
  --color-dark-700-rgb: 31, 31, 31;
  --color-dark-800: #0a0a0a;
  --color-dark-800-rgb: 10, 10, 10;
  --color-red-500: #eb002a;
  --color-red-500-rgb: 235, 0, 42;
  --color-red-600: #b62c2e;
  --color-red-600-rgb: 182, 44, 46;
  --color-purple-300: #eed6f5;
  --color-purple-300-rgb: 238, 214, 245;
  --color-purple-500: #b425e0;
  --color-purple-500-rgb: 180, 37, 224;
  --color-green-500: #2f9878;
  --color-green-500-rgb: 47, 152, 120;
  --color-gold-400: #c89b3c;
  --color-gold-400-rgb: 200, 155, 60;
}
